[project]
	description = All Aino code explorations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aino-mahesh
[access "refs/for/refs/*"]
	read = group user/aino-mahesh
	push = group user/aino-mahesh
	label-Code-Review = -2..+2 group user/aino-mahesh
	label-Verified = -1..+1 group user/aino-mahesh
	rebase = group user/aino-mahesh
	removeReviewer = group user/aino-mahesh
	submit = group user/aino-mahesh
[access "refs/heads/*"]
	read = group user/aino-mahesh
	create = group user/aino-mahesh
	push = +force group user/aino-mahesh
	pushMerge = group user/aino-mahesh
[access "refs/tags/*"]
	push = +force group user/aino-mahesh
	pushTag = group user/aino-mahesh
	pushSignedTag = group user/aino-mahesh
